@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?4dlf59");
  src: url("../fonts/icomoon.eot?4dlf59#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff2?4dlf59") format("woff2"), url("../fonts/icomoon.ttf?4dlf59") format("truetype"), url("../fonts/icomoon.woff?4dlf59") format("woff"), url("../fonts/icomoon.svg?4dlf59#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: inline-block;
}
/*
	Body & HTML setup
*/
#full-height {
  display: none;
}

body, html {
  height: 100%;
}

body {
  color: #747474;
  font: 500 18px/normal "Poppins", sans-serif;
}
body.nav-menu-open {
  position: fixed;
  overflow: hidden;
  left: 0px;
  right: 0px;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  width: 100%;
  min-width: 0;
}
.container.container-500 {
  max-width: 500px;
}
.container.container-770 {
  max-width: 770px;
}
.container.container-970 {
  max-width: 970px;
}
.container.container-1030 {
  max-width: 1030px;
}
.container.container-1170 {
  max-width: 1170px;
}
.container.container-1190 {
  max-width: 1190px;
}
.container.container-1380 {
  max-width: 1380px;
}

.container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  width: 100%;
  max-width: 2000px;
  min-width: 320px;
}

.wrap {
  position: relative;
  margin: 0 auto -90px; /* bottom is negative value of .push height */
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.push {
  height: 90px;
  background: transparent;
} /* footer height plus padding */
.padding {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.nomargin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #d6d3ab;
}

::selection {
  color: white;
  background: #d6d3ab;
}

:focus {
  outline: 0px none transparent;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

::-webkit-input-placeholder {
  color: #CCC;
}

:-moz-placeholder { /* Firefox 18- */
  color: #CCC;
  opacity: 1;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #CCC;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #CCC;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 54px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  color: #fff;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 34px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

h5 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #000;
}

input[type=text], input[type=email], input[type=password], input[type=tel], input[type=submit], textarea, select {
  -webkit-appearance: none;
  border-radius: 0px;
}

#preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

a, input[type=submit] {
  transition: all 300ms ease-in-out;
}
a:hover, input[type=submit]:hover {
  transition: all 300ms ease-in-out;
}

img {
  max-width: 100%;
}
img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}
img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
}
img:not([src]) {
  visibility: hidden;
}
img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}
img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  img.alignright, img.alignleft {
    float: none;
    display: block;
    margin: 0 auto 30px;
  }
  .alignright, .alignleft {
    float: none;
    margin: 0 auto 30px;
  }
}
[class^=icon-], [class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.animsition-loading {
  border: none;
  animation-iteration-count: none;
  animation-timing-function: none;
  animation-duration: 0s;
  animation-name: none;
  width: 60px;
}

@media screen and (max-width: 767px) {
  .animatedParent .animated {
    transition-property: none !important;
    animation: none !important;
    transform: none !important;
    opacity: 1;
  }
}
#content > div > div {
  margin-bottom: 100px;
}
#content .wp-content > :not(:last-child) {
  margin-bottom: 20px;
}

.blue-background {
  padding: 85px 0;
  background-color: rgba(5, 95, 249, 0.1);
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

#navigation-menu {
  display: flex;
  justify-content: space-between;
  -moz-align-items: center;
  align-items: center;
  align-content: center;
  padding: 17px 50px;
  background-color: #fff;
  font-size: 22px;
}
#navigation-menu #home-logo-link .logo {
  height: 84px;
}

.menu {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.menu-main-menu-container {
  font-family: "Bebas Neue", sans-serif;
}
.menu-main-menu-container a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.menu-main-menu-container a:link, .menu-main-menu-container a:visited {
  color: black;
}
.menu-main-menu-container a:hover, .menu-main-menu-container a:active {
  color: #055ff9;
}
.menu-main-menu-container .current_page_item a {
  color: #055ff9;
}

.icon-arrow-white::before {
  content: "\e905";
  color: #fff;
  font-size: 16px;
  vertical-align: middle;
}

.icon-menu:before {
  content: "\e90a";
}

.icon-play-3:before {
  content: "\e900";
}

.icon-download:before {
  content: "\e901";
}

.icon-play .path1:before {
  content: "\e902";
  color: #055ff9;
  font-size: 80px;
}

.icon-play .path2:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "\e903";
  color: #fff;
  font-size: 80px;
}

.icon-arrow-blue:before {
  transform: rotate(270deg);
  display: inline-block;
  content: "\e904";
  color: #055ff9;
  font-size: 15px;
}

.icon-cacpro:before {
  content: "\e906";
  color: black;
  font-size: 26px;
  vertical-align: middle;
}

.icon-youtube:before {
  content: "\e907";
}

.icon-instagram:before {
  content: "\e908";
}

.icon-facebook:before {
  content: "\e909";
}

.video {
  position: relative;
  z-index: 10;
  width: 570px;
  height: 340px;
}
.video.big-video {
  width: 670px;
  height: 400px;
}
.video .background-image {
  border-radius: 30px;
}
.video .play-container {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 80px;
  height: 80px;
  z-index: 11;
  display: inline-block;
}
.video .play-container span {
  display: inline-block;
}

.two-photos-content-row {
  display: flex;
  -moz-align-items: center;
  align-items: center;
  align-content: center;
  gap: 64px;
}
.two-photos-content-row .left-content-container {
  position: relative;
  padding-left: 30px;
  width: 50%;
}
.two-photos-content-row .left-content-container .background-image {
  border-radius: 30px;
}
.two-photos-content-row .left-content-container .top-image {
  position: relative;
  margin-left: auto;
  margin-top: 10%;
  aspect-ratio: 470/313;
  max-width: 470px;
}
.two-photos-content-row .left-content-container .bottom-image {
  position: relative;
  margin-left: auto;
  margin-right: 25%;
  margin-top: -10%;
  aspect-ratio: 370/380;
  max-width: 370px;
}
.two-photos-content-row .left-content-container::after {
  content: " ";
  border-radius: 0 30px 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  z-index: -2;
  background: #055ff9;
  opacity: 0.1;
}
.two-photos-content-row .right-content-container {
  width: 50%;
}
.two-photos-content-row .right-content-container .container-500 {
  margin-left: 0;
}

.one-photo-content-row {
  display: flex;
  gap: 64px;
  -moz-align-items: center;
  align-items: center;
  align-content: center;
}
.one-photo-content-row .photo-container {
  position: relative;
  aspect-ratio: 570/380;
  max-width: 570px;
  width: 50%;
  flex-shrink: 0;
}
.one-photo-content-row .photo-container .background-image {
  border-radius: 30px;
}
.one-photo-content-row.photo-left {
  flex-direction: row-reverse;
}

.accordion {
  transition: all 0.4s ease-in-out;
}
.accordion .main-title {
  text-align: center;
  margin-bottom: 50px;
}
.accordion .accordion-item-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.accordion .accordion-item-container.active .title {
  color: #055ff9;
}
.accordion .accordion-item-container.active span {
  opacity: 0.5;
}
.accordion .accordion-item-container.active span::before {
  transform: rotate(90deg);
}
.accordion .accordion-item-container.active .content {
  display: block;
}
.accordion .accordion-item-container .title-container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  -moz-align-items: center;
  align-items: center;
  align-content: center;
}
.accordion .accordion-item-container .title-container span {
  display: inline-block;
}
.accordion .accordion-item-container .title-container span:hover {
  cursor: pointer;
}
.accordion .accordion-item-container .content {
  padding-left: 70px;
  padding-bottom: 20px;
  display: none;
}

/**
Gravity Forms CSS Targeting Examples: https://docs.gravityforms.com/css-targeting-examples/
Styling Radio Buttons: https://bryntum.com/blog/3-ways-to-style-radio-buttons-with-modern-css/
Styling Number Fields: https://laracasts.com/discuss/channels/laravel/customize-increment-arrows-on-input-of-type-number-using-css
*/
body .gform_confirmation_message {
  color: black;
}
body .gform_wrapper {
  text-align: left;
}
body .gform_wrapper .gform_required_legend {
  display: none;
}
body .gform_wrapper .gform_body .gform_fields .gfield {
  margin-bottom: 30px;
  /** 
  Field Styles
  */
}
body .gform_wrapper .gform_body .gform_fields .gfield .ginput_complex label {
  color: #747474;
  font: normal 22px/1 "Poppins", sans-serif;
}
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_description {
  color: #747474;
}
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_label {
  font: normal 22px/1 "Bebas Neue", sans-serif;
  color: black;
  border-bottom: 0;
}
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_label .gfield_required {
  color: black;
}
body .gform_wrapper .gform_body .gform_fields .gfield input[type=text],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=email],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=tel],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=number],
body .gform_wrapper .gform_body .gform_fields .gfield textarea {
  font: normal 24px/1 "Poppins", sans-serif !important;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 10px 20px;
  line-height: 1;
}
body .gform_wrapper .gform_body .gform_fields .gfield input::-moz-placeholder, body .gform_wrapper .gform_body .gform_fields .gfield textarea::-moz-placeholder {
  color: #747474;
}
body .gform_wrapper .gform_body .gform_fields .gfield input::placeholder,
body .gform_wrapper .gform_body .gform_fields .gfield textarea::placeholder {
  color: #747474;
}
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_radio label,
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_checkbox label {
  font: normal 24px/1 "Poppins", sans-serif;
  line-height: 1.5;
}
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_radio .gchoice,
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_checkbox .gchoice {
  position: relative;
}
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_radio input[type=radio],
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_checkbox input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-right: 2.5rem;
}
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_radio input[type=radio]::before,
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_checkbox input[type=radio]::before {
  content: "";
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #cccccc;
  left: 0;
  width: 1.8rem;
  height: 1.8rem;
}
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_radio input[type=radio]::after,
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_checkbox input[type=radio]::after {
  content: "";
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  border-radius: 50%;
  opacity: 0;
  background-color: #055ff9;
  left: 0.4rem;
  width: 1rem;
  height: 1rem;
}
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_radio input[type=radio]:checked::after,
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_checkbox input[type=radio]:checked::after {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_radio input[type=checkbox],
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_checkbox input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-right: 2.5rem;
}
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_radio input[type=checkbox]::before,
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_checkbox input[type=checkbox]::before {
  content: "";
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  background-color: #fff;
  border: 1px solid #cccccc;
  left: 0;
  width: 1.8rem;
  height: 1.8rem;
}
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_radio input[type=checkbox]::after,
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_checkbox input[type=checkbox]::after {
  content: "";
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  opacity: 0;
  background-color: #055ff9;
  left: 0.4rem;
  width: 1rem;
  height: 1rem;
}
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_radio input[type=checkbox]:checked::after,
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_checkbox input[type=checkbox]:checked::after {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
body .gform_wrapper .gform_footer {
  padding: 0 !important;
}
body .gform_wrapper .gform_footer input[type=submit] {
  border: none;
  margin: auto;
}
body .gform_wrapper.gravity-theme .gform_validation_errors {
  border: none;
  border-top: 2px solid #c02b0a;
  border-bottom: 2px solid #c02b0a;
  border-radius: 0px;
  padding: 20px;
  text-align: center;
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 50px;
}
body .gform_wrapper.gravity-theme .gform_validation_errors h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.5;
}
body .gform_wrapper [aria-invalid=true] {
  border: 1px solid #c02b0a !important;
}
body .gform_wrapper .gform_body .gform_fields .gfield_error .validation_message {
  color: #c02b0a;
  border: none;
  background-color: transparent;
  margin: 0px;
  padding-left: 0;
  padding-bottom: 0;
}

header .background-image {
  border-radius: 0 0 30px 30px;
}

#alert-bar {
  display: block;
  text-align: center;
  background-image: linear-gradient(to right, #055ff9, #00cdfe);
  font-size: 14px;
  color: #fff;
  padding: 8px 13px;
  text-decoration: none;
  font-weight: normal;
  transition: all 0.4s ease-in-out;
}
#alert-bar span {
  margin-left: 10px;
}
#alert-bar .icon-arrow-white {
  transition: all 0.4s ease-in-out;
  display: inline-block;
}
#alert-bar:hover .icon-arrow-white {
  transform: translateX(10px);
}

#hero-container {
  position: relative;
  background-color: #055ff9;
  height: 700px;
  z-index: 0;
  display: flex;
  align-items: flex-end;
  padding: 105px 135px;
}
#hero-container .wp-content > :not(:last-child) {
  margin-bottom: 50px;
}
#hero-container::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 30px 30px;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
}

.page-template-im-new-template #default-header-container,
.page-template-about-template #default-header-container,
.page-template-contact-template #default-header-container {
  margin-bottom: 0;
}

.page-template-im-new-template #default-header-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #055ff9;
  z-index: -3;
}

#default-header-container {
  position: relative;
  margin-bottom: 100px;
  text-align: center;
  min-height: 250px;
  display: flex;
  -moz-align-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}
#default-header-container::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 30px 30px;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
  border-radius: 0 0 30px 30px;
}

#rios-header-container {
  position: relative;
  margin-bottom: 100px;
  height: 450px;
  display: flex;
  gap: 30px;
  justify-content: center;
  -moz-align-items: center;
  align-items: center;
  align-content: center;
}
#rios-header-container .header-content {
  width: 470px;
}
#rios-header-container .video {
  margin-top: 150px;
}
#rios-header-container::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 30px 30px;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
}

#home-location-times-banner {
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  color: #fff;
  padding: 27px 13px;
  text-align: center;
  background-color: #055ff9;
  font-weight: normal;
  letter-spacing: 2px;
}

#home-ways-to-connect-section {
  display: grid;
  -moz-align-items: center;
  align-items: center;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 90px;
  padding: 60px 135px;
}
#home-ways-to-connect-section .wp-content > :not(:last-child) {
  margin-bottom: 30px;
}
#home-ways-to-connect-section .left-content-container {
  display: grid;
  justify-content: end;
  grid-template-columns: 300px 300px;
  gap: 30px;
  position: relative;
}
#home-ways-to-connect-section .left-content-container::after {
  content: " ";
  border-radius: 0 30px 30px 0;
  position: absolute;
  z-index: -2;
  top: 50%;
  transform: translate(-150px, -50%);
  background: #055ff9;
  opacity: 0.1;
  width: 100%;
  height: calc(100% + 120px);
}
#home-ways-to-connect-section .left-content-container .connect-link {
  display: inline-flex;
  align-items: end;
  padding: 20px;
  position: relative;
  height: 200px;
  width: 300px;
  border-radius: 30px;
  overflow: hidden;
  font-size: 24px;
  font-weight: normal;
  color: #fff;
}
#home-ways-to-connect-section .left-content-container .connect-link ::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 30px 30px;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
}
#home-ways-to-connect-section .left-content-container .connect-link:link, #home-ways-to-connect-section .left-content-container .connect-link:visited, #home-ways-to-connect-section .left-content-container .connect-link:active {
  color: #fff;
  text-decoration: none;
}
#home-ways-to-connect-section .left-content-container a.connect-link {
  transition: all 0.4s ease-in-out;
}
#home-ways-to-connect-section .left-content-container a.connect-link:hover {
  transform: translateY(-10px);
}

#home-about-us-section {
  border-radius: 30px;
  overflow: hidden;
  padding: 80px 105px;
  position: relative;
  font-size: 34px;
  color: white;
}
#home-about-us-section .wp-content > :not(:last-child) {
  margin-bottom: 30px;
}
#home-about-us-section ::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 30px 30px;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
}

#rios-introduction,
#rios-callout {
  text-align: center;
}

#rios-introduction {
  margin-top: 50px;
}
#rios-introduction h3 {
  color: black;
}

#rios-callout h1 {
  color: black;
}

/**
I'm New Template styles
*/
#new-introduction-container {
  background-color: #055ff9;
  margin-bottom: 150px !important;
}
#new-introduction-container .intro-container {
  display: flex;
  gap: 64px;
  -moz-align-items: center;
  align-items: center;
  align-content: center;
}
#new-introduction-container .intro-container .left-content-container,
#new-introduction-container .intro-container .right-content-container {
  width: 50%;
}
#new-introduction-container .intro-container h2 {
  color: #fff;
}
#new-introduction-container .intro-container .video {
  margin-top: 50px;
  margin-bottom: -50px;
}

#about-intro {
  position: relative;
  padding: 45px 35px;
}
#about-intro::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 8px;
  height: calc(100% + 66px);
  background-color: #055ff9;
}

#leadership-container h1 {
  margin-bottom: 50px;
  color: black;
}
#leadership-container .leadership {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
#leadership-container .leadership .leader .portrait-img {
  aspect-ratio: 1/1;
  max-width: 270px;
  border-radius: 30px;
  margin-bottom: 30px;
}

#contact-content-container {
  position: relative;
  padding-top: 100px;
}
#contact-content-container::before {
  content: " ";
  position: absolute;
  z-index: -10;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 27%;
  height: calc(100% + 100px);
  background-color: #055ff9;
  opacity: 0.15;
  border-radius: 0 0 30px 0;
}
#contact-content-container > div > div {
  display: flex;
  gap: 100px;
}
#contact-content-container > div > div .wp-content {
  max-width: 300px;
}
#contact-content-container > div > div .form {
  width: 100%;
}

#call-to-action {
  background-color: #055ff9;
  border-radius: 30px;
  padding: 36px 135px;
  color: #fff;
  font-size: 34px;
}

footer a:link, footer a:visited {
  color: #747474;
  text-decoration: none;
}
footer a:hover, footer a:hover .icon-cacpro, footer a:active {
  text-decoration: none;
  opacity: 0.75;
}

#top-footer-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 50px 0px;
  -moz-align-items: center;
  align-items: center;
  align-content: center;
}
#top-footer-bar .right-content-container,
#top-footer-bar .left-content-container {
  display: flex;
  gap: 30px;
  -moz-align-items: center;
  align-items: center;
  align-content: center;
}
#top-footer-bar .right-content-container a {
  font-size: 50px;
}
#top-footer-bar .right-content-container a:link, #top-footer-bar .right-content-container a:visited {
  color: #055ff9;
}

#bottom-footer-bar {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
}
#bottom-footer-bar .left-content-container {
  display: flex;
}
#bottom-footer-bar .menu {
  gap: 0;
}
#bottom-footer-bar .menu li {
  position: relative;
  padding: 0px 10px;
}
#bottom-footer-bar .menu li:not(:last-child)::after {
  content: " ";
  position: absolute;
  top: 5px;
  right: 0;
  width: 2px;
  height: 18px;
  border-right: 2px solid #747474;
}/*# sourceMappingURL=style.css.map */