#rios-introduction,
#rios-callout {
    text-align: center;
}

#rios-introduction {
    margin-top: 50px;
    h3 {
        color: black;
    }
}

#rios-callout {
    h1 {
        color: black;
    }
}